ion-item {
    --background: #FBEDC9;
}

ion-item-group {
    --background: #FBEDC9;
    margin-bottom: 20px;
}

.form {
    padding: 24px;
    background: #FBEDC9;
}

.error{
    &-message{
        color: red;
        font-size: 12px;
    }
}