<ion-tabs>
  <ion-tab-bar color="secondary" slot="bottom">
    <ion-tab-button tab="friend-list">
      <ion-label color="primary">friend list</ion-label>
      <ion-icon color="primary" name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="map">
      <ion-label color="primary">Map</ion-label>
      <ion-icon color="primary" name="compass-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-label color="primary">Account</ion-label>
      <ion-icon color="primary" name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
